In [1]:
import pandas as pd
import numpy as np

In [3]:
# !wget -O Monzo_data.csv users/leostepan/AnacondaProjects/Monzo_data.csv

import pandas as pd
df = pd.read_csv('/Users/leostepan/AnacondaProjects/Monzo_data.csv')
df.head(5)

,Transaction ID,Date,Time,Type,Name,Emoji,Category,Amount,Currency,Local amount,Local currency,Notes and #tags,Address,Receipt,Description,Category split,Money Out,Money In
0,tx_0000A1kDhZJhXbMQuBObb8,01/12/2020,03:25:07,Direct Debit,Tower Hamlets Council,NaN,Bills,-142.00,GBP,-142.00,GBP,01 1009756233,NaN,NaN,01 1009756233,NaN,-142.00,NaN
1,tx_0000A1kew3coLlK7QVWVnt,01/12/2020,08:30:17,Card payment,Bubble,NaN,Family,-1.00,GBP,-1.00,GBP,NaN,16 Bartholomew Close,NaN,Bubble London GBR,NaN,-1.00,NaN
2,tx_0000A1lM7pg4KQEpNEGEpm,01/12/2020,16:34:13,Card payment,Waterstones,ðŸ“š,Entertainment,-23.97,GBP,-23.97,GBP,Christmas cards,NaN,NaN,WATERSTONES.COM SOLIHULL GBR,NaN,-23.97,NaN
3,tx_0000A1lYyGtXZxRFyD206E,01/12/2020,18:58:10,Card payment,Cupcake Jemma,ðŸ’»,Eating out,-42.45,GBP,-42.45,GBP,NaN,NaN,NaN,SP * CUPCAKEJEMMA/C&D +442088748885 GBR,NaN,-42.45,NaN
4,tx_0000A1m0VasqylATCaiYK1,02/12/2020,00:06:43,Card payment,Bubble,NaN,Family,39.00,GBP,39.00,GBP,NaN,16 Bartholomew Close,NaN,Bubble London GBR,NaN,NaN,39.0

In [12]:
#Click here and press Shift+Enter
!wget -O ChurnData.csv https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/ChurnData.csv

/bin/bash: wget: command not found

TclError: bad window path name ".!button6"

In [7]:
f = lambda x: x**2
f(5)

'nike'